# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3
/staticfiles/
media/

# Virtual Environment
venv/
env/

# python-dotenv
.env

# VS Code
.vscode/

# Git
*.swp
.DS_Store
